---
import type { AstroVNode } from 'astro/jsx-runtime';

interface Props {
	type: 'fn' | 'tn' | 'ref',
	id: string,
	label: string,
	refs: number,
	xlinkClass?: string,
	Content: (() => AstroVNode) | string,
}
const { type, id, label, refs, xlinkClass, Content } = Astro.props;
---

<p>
	<sup id={`${type}:${id}`}>{label}</sup>
	{
		typeof Content == 'string'
			? Content
			: <Content />
	}
	{
		[...Array(refs)].map((_, i) =>
			<>
				{' '}<a class={`-xfn ${xlinkClass}`} href={`#x${type}:${id}:${i + 1}`} aria-label={refs > 1 ? `본문으로 돌아가기 (${i + 1})` : '본문으로 돌아가기'}>
					↑{refs > 1 &&
						<sub>{i + 1}</sub>
					}
				</a>
			</>
		)
	}
</p>