---
import MinutesRead from '../components/MinutesRead.astro';
import Date from '@components/Date.astro';
import Tag from '@components/Tag.astro';

interface Props {
	minutesRead?: number,
	published?: Date,
	edited?: Date,
	translation?: {
		published?: Date,
		edited?: Date,
	},
	tags?: string[],
}
const { minutesRead, published, edited, translation, tags } = Astro.props;
---

{(() => {
	const metadata = [
		minutesRead
			? <MinutesRead minutes={minutesRead} />
			: undefined,
		translation?.published
			? <>원본 작성일 <Date date={translation.published} /></>
			: undefined,
		published
			? <><Date date={published} /> {translation ? '번역' : '작성'}</>
			: undefined,
		translation?.edited
			? <><Date date={translation.edited} /> 수정본 반영</>
			: undefined,
		edited
			? <><Date date={edited} /> 수정</>
			: undefined,
	]
		.filter(x => x)
		.map((x, i) =>
			<>
				{!!i && ' · '}{x}
			</>
		);
	return !!metadata.length &&
		<span class="font-size-3.2">
			{metadata}
		</span>;
})()}{' '}
{tags?.map(tag =>
	<Tag>{tag}</Tag>
)}