---
import PostMetadata from './PostMetadata.astro';
import type { PostEntry } from '../registry/getPost';

interface Props extends PostEntry {
	href: string,
}
const { href, title, published, edited, tags, cover, minutesRead } = Astro.props;
---

<a class="text-[unset] no-underline" href={href} aria-label={title}>
	<div class="relative w-[calc(100%-1rem)] min-h-24 mt-block mb-[calc(2*var(--spacing-block))] p-4 bg-bg shadow-discrete pop-on-hover" role="none">
		{cover &&
			<img class="absolute right-0 top-0 w-3/5 h-full object-cover" src={cover} alt="" />
		}
		<div class="absolute inset-x-0 top-0 h-full bg-linear-to-r from-eatch-light from-50% to-bg/50 backdrop-blur-[2px]" aria-hidden="true" />
		<div class="flex flex-col justify-center items-start relative">
			<span class="block font-title font-bold text-[2rem] leading-tight text-eatch-dark">
				{title}
			</span>
			<span>
				<PostMetadata
					minutesRead={minutesRead}
					published={published}
					edited={edited}
					tags={tags}
				/>
			</span>
		</div>
	</div>
</a>